INSTANCE=Development
FROM_PROJECT_TITLE='First Responder COVID-19 Results Upload - Development'
FROM_PROJECT_PID=8236
READ_FROM=your_api_token_for_db_to_read_from
TO_PROJECT_TITLE='First Responder COVID-19 Testing - Development'
TO_PROJECT_PID=8218
WRITE_TO=your_api_token_for_db_to_write_to
TIME_ZONE='America/New_York'
